.el-popover.popperClass.el-popper.is-light {
  background-color: rgb(48, 48, 48);
}

.popperClass.el-popover.is-light .el-popper__arrow::before {
  background-color: rgb(48, 48, 48);
}

.popover-width {
  width: 98% !important;
  @apply miniplayer:w-2/4 #{!important};
}
